#Requires -Modules @{ ModuleName = 'Pester'; ModuleVersion = '5.0.0' }

BeforeDiscovery {
    $ProjectRoot = $PSScriptRoot
    while ($ProjectRoot -and -not (Test-Path (Join-Path $ProjectRoot 'build/build.settings.psd1'))) {
        $ProjectRoot = Split-Path $ProjectRoot -Parent
    }
    $ModuleName   = '<%ModuleName%>'
    $ModuleDir    = Join-Path -Path $ProjectRoot -ChildPath 'src' | Join-Path -ChildPath $ModuleName
    $ManifestPath = Join-Path -Path $ModuleDir -ChildPath "$ModuleName.psd1"

    $ManifestData      = Import-PowerShellDataFile -Path $ManifestPath
    $DeclaredFunctions = @($ManifestData.FunctionsToExport)
}

BeforeAll {
    $ProjectRoot = $PSScriptRoot
    while ($ProjectRoot -and -not (Test-Path (Join-Path $ProjectRoot 'build/build.settings.psd1'))) {
        $ProjectRoot = Split-Path $ProjectRoot -Parent
    }
    $ModuleName   = '<%ModuleName%>'
    $ModuleDir    = Join-Path -Path $ProjectRoot -ChildPath 'src' | Join-Path -ChildPath $ModuleName
    $ManifestPath = Join-Path -Path $ModuleDir -ChildPath "$ModuleName.psd1"

    Get-Module -Name $ModuleName -ErrorAction SilentlyContinue | Remove-Module -Force
    Import-Module $ManifestPath -Force -ErrorAction Stop

    $ManifestData = Import-PowerShellDataFile -Path $ManifestPath
    $ExpectedFunctionCount = @($ManifestData.FunctionsToExport).Count
}

AfterAll {
    Get-Module -Name '<%ModuleName%>' -ErrorAction SilentlyContinue | Remove-Module -Force
}

Describe 'Module: <%ModuleName%>' -Tag 'Unit' {

    Context 'Manifest' {
        It 'has a valid manifest' {
            { Test-ModuleManifest -Path $ManifestPath -ErrorAction Stop } | Should -Not -Throw
        }

        It 'has a non-empty description' {
            $M = Test-ModuleManifest -Path $ManifestPath -ErrorAction Stop
            $M.Description | Should -Not -BeNullOrEmpty
        }

        It 'targets PowerShell <%MinPowerShellVersion%> or later' {
            $M = Test-ModuleManifest -Path $ManifestPath -ErrorAction Stop
            $M.PowerShellVersion | Should -BeGreaterOrEqual ([Version]'<%MinPowerShellVersion%>')
        }
    }

    Context 'Import' {
        It 'imports without errors' {
            { Import-Module $ManifestPath -Force -ErrorAction Stop } | Should -Not -Throw
        }

        It 'is loaded after import' {
            Get-Module -Name '<%ModuleName%>' | Should -Not -BeNullOrEmpty
        }
    }

    Context 'Exports' {
        It 'exports the expected number of functions' {
            $Exported = (Get-Module -Name '<%ModuleName%>').ExportedFunctions.Keys
            $Exported.Count | Should -Be $ExpectedFunctionCount
        }

        It 'exports <_>' -ForEach $DeclaredFunctions {
            $Exported = (Get-Module -Name '<%ModuleName%>').ExportedFunctions.Keys
            $_ | Should -BeIn $Exported
        }
    }
}
