@{
    RootModule        = '<%ModuleName%>.psm1'
    ModuleVersion     = '0.1.0'
    GUID              = '<%ModuleGuid%>'
    Author            = '<%Author%>'
    CompanyName       = ''
    Copyright         = '(c) <%Year%> <%Author%>. All rights reserved.'
    Description       = '<%Description%>'

    PowerShellVersion      = '<%MinPowerShellVersion%>'
    CompatiblePSEditions   = @('Desktop', 'Core')

    # Runtime dependencies ONLY — build/test tooling belongs in build/build.requires.psd1
    # RequiredModules = @()

    # TODO: Add your public function names here as you create them, e.g.:
    # FunctionsToExport = @('Get-Widget', 'Set-Widget')
    FunctionsToExport = @()
    CmdletsToExport   = @()
    VariablesToExport  = @()
    AliasesToExport    = @()

    PrivateData = @{
        PSData = @{
            Tags       = @('Module')
            # LicenseUri   = ''
            # ProjectUri   = ''
            # ReleaseNotes = ''
        }
    }
}
