@{
    RootModule        = '<%ModuleName%>.psm1'
    ModuleVersion     = '0.1.0'
    GUID              = '<%ModuleGuid%>'
    Author            = '<%Author%>'
    CompanyName       = ''
    Copyright         = '(c) <%Year%> <%Author%>. All rights reserved.'
    Description       = '<%Description%>'

    PowerShellVersion      = '<%MinPowerShellVersion%>'
    CompatiblePSEditions   = @('Desktop', 'Core')

    # Runtime dependencies only -- build/test tooling belongs in build/build.requires.psd1
    # RequiredModules = @()

    # FunctionsToExport is omitted during development -- the .psm1 controls
    # exports via Export-ModuleMember. The Build task injects an explicit list
    # into the staged manifest for publishing.
    CmdletsToExport   = @()
    VariablesToExport  = @()
    AliasesToExport    = @()

    PrivateData = @{
        PSData = @{
            Tags       = @('Module')
            # LicenseUri   = ''
            # ProjectUri   = ''
            # ReleaseNotes = ''
        }
    }
}
