# Release Pipeline -- <%ModuleName%>
# Triggered by version tags (v*).
# Extracts the version from the tag and injects it via the build script.
# Setup: add PSGALLERY_API_KEY as a pipeline variable (secret).

trigger:
  tags:
    include:
      - 'v*'

pr: none

pool:
  vmImage: 'ubuntu-latest'

variables:
  releaseVersion: $[ replace(variables['Build.SourceBranchName'], 'v', '') ]

stages:
  - stage: Release
    displayName: 'Build and Publish'
    jobs:
      - deployment: PublishModule
        displayName: 'Release Build and Publish'
        environment: production
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self

                - task: PowerShell@2
                  displayName: 'Bootstrap'
                  inputs:
                    targetType: filePath
                    filePath: ./build/bootstrap.ps1
                    pwsh: true

                - task: PowerShell@2
                  displayName: 'Release build'
                  env:
                    PSGALLERY_API_KEY: $(PSGALLERY_API_KEY)
                  inputs:
                    targetType: inline
                    pwsh: true
                    script: Invoke-Build -File ./build/module.build.ps1 -Task Release -NewVersion '$(releaseVersion)'

                - task: PublishTestResults@2
                  displayName: 'Publish test results'
                  condition: always()
                  inputs:
                    testResultsFormat: NUnit
                    testResultsFiles: '**/unit-results.xml'
                    searchFolder: ./artifacts/testResults

                - publish: ./artifacts/package
                  artifact: module-package
