# Release Pipeline -- <%Name%>
# Triggered by version tags (v*).
# Validates on all platforms, then publishes.
# Setup: add PSGALLERY_API_KEY as a secret pipeline variable.

trigger:
  tags:
    include:
      - 'v*'

pr: none

stages:
  - stage: Validate
    displayName: 'Validate'
    jobs:
      - job: CI
        strategy:
          matrix:
            linux:
              vmImage: 'ubuntu-latest'
            windows:
              vmImage: 'windows-latest'
            macos:
              vmImage: 'macos-latest'
        pool:
          vmImage: $(vmImage)
        steps:
          - task: PowerShell@2
            displayName: 'Validate version format'
            inputs:
              targetType: inline
              pwsh: true
              script: |
                $Version = '$(Build.SourceBranchName)' -replace '^v', ''
                if ($Version -notmatch '^\d+\.\d+\.\d+') {
                    throw "Invalid version format: '$Version'. Expected semver (e.g., 1.0.0)."
                }
                Write-Host "Version: $Version"

          - task: PowerShell@2
            displayName: 'Bootstrap'
            inputs:
              targetType: filePath
              filePath: ./build/bootstrap.ps1
              pwsh: true

          - task: PowerShell@2
            displayName: 'Build'
            inputs:
              targetType: inline
              script: Invoke-Build -File ./build/module.build.ps1
              pwsh: true

          - task: PublishTestResults@2
            displayName: 'Publish test results'
            condition: always()
            inputs:
              testResultsFormat: NUnit
              testResultsFiles: '**/unit-results.xml'
              searchFolder: ./artifacts/testResults

  - stage: Publish
    displayName: 'Publish'
    dependsOn: Validate
    jobs:
      - deployment: PublishModule
        displayName: 'Release Build and Publish'
        environment: psgallery
        pool:
          vmImage: 'ubuntu-latest'
        variables:
          releaseVersion: $[ replace(variables['Build.SourceBranchName'], 'v', '') ]
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self

                - task: PowerShell@2
                  displayName: 'Bootstrap'
                  inputs:
                    targetType: filePath
                    filePath: ./build/bootstrap.ps1
                    pwsh: true

                - task: PowerShell@2
                  displayName: 'Release build'
                  env:
                    PSGALLERY_API_KEY: $(PSGALLERY_API_KEY)
                  inputs:
                    targetType: inline
                    pwsh: true
                    script: Invoke-Build -File ./build/module.build.ps1 -Task Release -NewVersion '$(releaseVersion)'

                - publish: ./artifacts/package
                  artifact: release-package
